# Web 框架
fastapi==0.111.0
uvicorn[standard]==0.29.0

# 数据库
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
asyncpg==0.29.0
alembic==1.13.1

# 环境变量 & 配置
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.2.1

# 文件处理
Pillow==10.3.0
python-multipart==0.0.9

# 定时任务
apscheduler==3.10.4

# 认证与安全
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]==3.3.0
